<h1>Blog Posts</h1>

<ul>
  {{#each uncloud}}
  	<li>
  	   <p>ID: {{this.user}}</p>
       <p>Blog: {{this.post}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/" method="POST">
  	<textarea type="text" name="post"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>
